body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 500px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 30px;
    color: #000000;
    font-size: 24px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.input-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 30px;  
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 35px;  
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group .icon {
    position: absolute;
    left: 10px;
    top: 35px; 
    font-size: 18px;
    color: #888;
    pointer-events: none; 
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

input.error {
    border-color: red;
}
